button.logout{
    float:right;
    border-radius: 8px;
    border-color: black;
}

body {
     background:#9c9;
}

body.snake{
    text-align: center;
}

button:hover{
    color: darkolivegreen;
    background-color: #CFD8DC;
}
button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 1em;
    font-weight: bold;
}

div{
    margin-top:25%;
    margin-left: 40%;
}

div.input{
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 0%;
}
